.banner {
	background: linear-gradient(to right, #60b6e5 0%, rgba(96, 182, 229, 0.3) 100%);
	height: 500px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 75px;

	.box {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		h2 {
			margin-top: 2rem;
			font: 600 18px "Montserrat";
		}

		.chips {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			margin-top: 2rem;

			.chip {
				margin: 0.4rem;
				padding: 0.4rem;
			}
		}
	}

	@media (max-width: 768px) {
		display: flex;
		flex-direction: column;
		height: 750px;
	}
}
