:root {
	--scrollbar: #373639;
	--scrollbar-background: transparent;

	--red: #7d3a3c;

	--blue-100: #323f66;
	--blue-200: #1f3864;

	--grey-50: #fdfcfc;
	--grey-100: #f2f3f5;
	--grey-200: #c4c4c4;
	--grey-300: #97989b;
	--grey-400: #4d4c4e;
	--grey-500: #333333;
	--grey-600: #2b2b2b;
	--grey-700: #1f1f1f;
	--grey-800: #1b1b1b;

	--black: #000000;
	--white: #ffffff;

	--whatsapp: #4dc247;
	--facebook: #3b5998;
	--linkedin: #007ab9;
	--twitter: #55acee;
	--instagram: radial-gradient(
		circle at 30% 107%,
		#fdf497 0%,
		#fdf497 5%,
		#fd5949 45%,
		#d6249f 60%,
		#285aeb 90%
	);

	--lightBlueGradient: linear-gradient(to right, #60b6e5 0%, rgba(96, 182, 229, 0.3) 100%);
}

html,
body {
	padding: 0;
	margin: 0;

	font-family: "Montserrat", sans-serif;
	font-size: 10px;

	scrollbar-width: thin;
	scrollbar-color: var(--scrollbar) var(--scrollbar-background);

	::-webkit-scrollbar,
	::-webkit-scrollbar-track {
		background: var(--scrollbar-background);
	}

	::-webkit-scrollbar {
		width: 6px;
		height: 0;

		scrollbar-width: 6px;
	}

	::-webkit-scrollbar-thumb {
		background: var(--scrollbar);
	}
}

a {
	color: inherit;
	text-decoration: none;
}

ul,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
	margin: 0;
	margin-block-start: 0;
	margin-block-end: 0;
	padding: 0;
	list-style: none;
}

* {
	box-sizing: border-box;
}
