.card {
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
	border-radius: 12px;
	height: fit-content;
	background-color: white;

	img {
		width: 100%;
		height: 15rem;
		object-fit: cover;
		border-radius: 1.2rem 1.2rem 0 0;
	}

	@media (max-width: 768px) {
		transition: unset;
		&:hover {
			transform: unset;
		}
	}
}

.grow {
	transition: all 0.2s ease-in-out;

	&:hover {
		transform: scale(1.1);
	}
}

.texts {
	padding: 0 1.5rem 1rem;

	h3 {
		font-family: "Montserrat", sans-serif;
		font-size: 2.4rem;
		font-weight: 600;
		line-height: 3rem;

		margin: 0.5rem 0;
	}

	p {
		font-family: "Montserrat";
		font-weight: 500;
		font-size: 1.4rem;
		line-height: 1.7rem;
		text-align: left;
	}
}

.xs {
	@extend .card;
	max-width: 35rem;
	margin: auto;

	img {
		min-height: 15rem;
		border-radius: 12px;
	}
}

.sm {
	@extend .card;
	@extend .grow;
	height: auto;
	max-height: 61.2rem;
	width: auto;
	max-width: 36rem;
	min-width: 34rem;
	margin: 0 1.4rem;

	img {
		height: 20rem;
	}
}

.md {
	@extend .card;
	@extend .grow;
	max-width: 35rem;
	margin: auto;
}

.lg {
	@extend .card;
	@extend .grow;
	max-width: 50rem;

	img {
		min-height: 17rem;
	}

	.lgTexts {
		@extend .texts;
		padding: 0 4rem 2rem;
		strong {
			font-family: "Montserrat", sans-serif;
			font-weight: 700;
			font-size: 1.2rem;
			line-height: 1.7rem;
		}
	}

	.dateTag {
		position: absolute;
		bottom: 118px;
		left: -15px;

		padding-left: 2rem;
		padding-right: 2rem;
		width: 17rem;
		height: 4rem;

		background: rgba(125, 58, 60, 0.9);
		color: white;
		border-radius: 6px;

		text-align: center;
		display: flex;
		align-items: center;
		justify-content: center;

		h4 {
			font-family: "Montserrat", sans-serif;
			font-size: 1.6rem;
			font-weight: 600;
			text-align: center;
			line-height: 1.95rem;
		}

		@media (max-width: 768px) {
			width: 12.5rem;
			height: 3rem;

			h4 {
				font-size: 1.3rem;
			}
		}
	}
}
