.container {
	height: 13.5rem;
	width: 100%;

	display: flex;
	align-items: center;
	justify-content: center;

	margin: 7.5rem 0;

	background: var(--lightBlueGradient);

	img {
		height: 27.5rem;
	}

	@media (max-width: 940px) {
		height: 40rem;

		flex-direction: column;

		margin: 0;

		img {
			height: 21.5rem;
		}
	}
}

.texts {
	max-width: 32rem;

	text-align: center;
	align-items: center;
	justify-content: center;

	h3 {
		margin: 0;

		font-size: 2.4rem;
		font-weight: 700;
		line-height: 2.9rem;
		text-align: center;

		color: var(--white);
	}

	p {
		margin-top: 1rem;
		font-size: 1.6rem;
		font-weight: 500;
		line-height: 1.95rem;
		text-align: center;

		color: var(--grey-400);
	}
}
