.container {
	width: 100%;

	background-color: var(--white);

	position: sticky;
	top: 0;
	z-index: 2;

	box-shadow: -1px 1px 1px rgb(0 0 0 / 10%);

	animation: fadeInDown 700ms;
	backface-visibility: hidden;

	.box {
		max-width: 104rem;

		display: flex;
		justify-content: space-between;
		align-items: center;

		margin: auto;
		padding: 1rem 0;

		.logo {
			grid-area: logo;
		}

		@media (max-width: 1024px) {
			padding: 1rem 6rem;

			display: grid;
			grid-template-areas:
				"logo hamburger"
				"menu menu";
		}

		@media (max-width: 480px) {
			padding: 1rem 2rem;

			display: grid;
			grid-template-areas:
				"logo hamburger"
				"menu menu";
		}
	}
}
