.menu {
	ul {
		display: flex;

		li {
			padding: 1.5rem;

			a {
				cursor: pointer;
				padding: 0.4rem 0;

				font-size: 1.6rem;
				font-weight: 500;
				line-height: 1.4rem;
				text-align: center;
				letter-spacing: 0.1rem;

				color: var(--blue-100);

				&:hover {
					padding-bottom: 0.4rem;

					border-bottom: 3px solid var(--blue-100);

					font-weight: 600;
				}
			}
		}
	}

	.active {
		padding-bottom: 0.4rem;

		border-bottom: 3px solid var(--blue-100);

		font-weight: 600;
	}

	@media (max-width: 1024px) {
		display: none;
	}
}
