.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;

	padding: 4rem 2rem;

	h2 {
		margin-bottom: 1rem;

		font-size: 3.2rem;
		font-weight: 600;
		line-height: 4rem;
		text-align: center;

		color: var(--grey-400);
	}

	p {
		margin-bottom: 1rem;

		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2rem;
		text-align: center;

		color: var(--grey-400);
	}

	@media (max-width: 768px) {
		h2 {
			font-size: 2.2rem;
		}

		p {
			font-size: 1.4rem;
		}
	}
}

.greyBackground {
	@extend .container;
	background-color: var(--grey-100);
}

.whiteBackground {
	@extend .container;
	background-color: var(--white);
}
