.container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding: 2rem;

	h2 {
		font-family: "Montserrat", sans-serif;
		font-size: 3.2rem;
		font-weight: 600;
		line-height: 4rem;
		text-align: center;
		color: #4d4c4e;
		margin-bottom: 1rem;
	}

	p {
		font-family: "Montserrat", sans-serif;
		font-size: 1.8rem;
		font-weight: 500;
		line-height: 2rem;
		text-align: center;
		color: #4d4c4e;
		margin-bottom: 1rem;
	}
}

.greyBackground {
	@extend .container;
	background-color: #f2f3f5;
}

.whiteBackground {
	@extend .container;
	background-color: #ffffff;
}
